@inherits LayoutComponentBase

@* <div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div> *@

<MudRTLProvider RightToLeft="false">
    <MudDialogProvider />
    <MudSnackbarProvider />
    <MudThemeProvider Theme="MyCustomTheme" />

    <CascadingValue Value="this">
        <MudLayout>
            <ChildContent>
                <AuthorizeView>
                    <Authorized>
                        <MudAppBar Elevation="1">
                            <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
                            <MudSpacer />
                            <MudIconButton Icon="@Icons.Material.Filled.MoreVert" Color="Color.Inherit" Edge="Edge.End" />
                        </MudAppBar>
                        <MudDrawer @bind-Open="_drawerOpen" Elevation="2">
                            <NavMenu />
                        </MudDrawer>
                    </Authorized>
                </AuthorizeView>
                @Body
            </ChildContent>
        </MudLayout>
    </CascadingValue>
</MudRTLProvider>