@page "/"

@inject LocalizationService Language
@attribute [Authorize]


<PageLayout Title="Home">
    <h1>Welcome to AlriyadahBMS</h1>
    <AuthorizeView>
        <Authorized>
            @context.User!.Identity!.Name
        </Authorized>
    </AuthorizeView>

</PageLayout>

@code {
    protected override void OnInitialized()
    {
        // PageName = "Home";

        var p1 = Language.Phrase("smsafterassessmenttest");
    }
}