@page "/"

@attribute [Authorize]

<MudMainContent>
    <h1>Welcome to AlriyadahBMS</h1>

    

    <AuthorizeView>
        <Authorized>
            @context.User!.Identity!.Name
        </Authorized>
    </AuthorizeView>
</MudMainContent>


@code{
    protected override void OnInitialized()
    {
        // PageName = "Home";


    }
}