@using AlriyadahBMS.Shared.ViewModels


<MudDialog>

    <DialogContent>
        <MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6">
            <MudTabPanel Text="Payment Information">

                <MudText>
                    <table class="table table-bordered table-hover ew-view-table">
                        <tbody>
                            <tr>
                                <td class="w-col-2"><strong>National ID</strong></td>
                                <td>
                                    <span>
                                        @paymentsData?.NationalID
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td class="w-col-2"> <strong>str First Name</strong></td>
                                <td>
                                    <span>
                                        @paymentsData?.str_First_Name
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td class="w-col-2"><strong>str Last Name</strong> </td>
                                <td>
                                    <span>
                                        @paymentsData?.str_Last_Name
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td class="w-col-2"><strong>Approval Code</strong></td>
                                <td>
                                    <span>
                                        @paymentsData?.str_ApprovalCode
                                    </span>
                                </td>
                            </tr>
                            <tr id="r_User_Role">
                                <td class="w-col-2"><strong>str Transaction Time</strong></td>
                                <td>
                                    <span>
                                        @paymentsData?.str_TransactionTime
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td class="w-col-2"><strong>Package Name</strong></td>
                                <td>
                                    <span>
                                        @paymentsData?.Package_Name
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td class="w-col-2"><strong>Price</strong></td>
                                <td>
                                    <span>
                                        @paymentsData?.Price
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td class="w-col-2"><strong>Course</strong></td>
                                <td>
                                    <span>
                                        @paymentsData?.course
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td class="w-col-2"><strong>Institution</strong></td>
                                <td>
                                    <span>
                                        @paymentsData?.institution
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </MudText>

            </MudTabPanel>
            <MudTabPanel Text="Transaction Information">

                <table class="table table-bordered table-hover ew-view-table">
                    <tbody>
                        <tr>
                            <td class="w-col-2"><strong>Payment Method</strong></td>
                            <td>
                                <span>
                                    @paymentsData?.int_Payment_Method
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td class="w-col-2"> <strong>Date Paid</strong></td>
                            <td>
                                <span>
                                    @paymentsData?.date_Paid
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td class="w-col-2"><strong>str Amount Pay</strong> </td>
                            <td>
                                <span>
                                    @paymentsData?.str_Amount_Pay
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td class="w-col-2"><strong>mny Running Payments</strong></td>
                            <td>
                                <span>
                                    @paymentsData?.mny_Running_Payments
                                </span>
                            </td>
                        </tr>
                        <tr id="r_User_Role">
                            <td class="w-col-2"><strong>mny Running Balance</strong></td>
                            <td>
                                <span>
                                    @paymentsData?.mny_Running_Balance
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td class="w-col-2"><strong>str Payment Note</strong></td>
                            <td>
                                <span>
                                    @paymentsData?.str_Payment_Note
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                    
            </MudTabPanel>
        </MudTabs>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel" Color="Color.Primary">Cancel</MudButton>

    </DialogActions>

</MudDialog>

@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; } = null!;

    [Parameter]
    public PaymentsModel? paymentsData { get; set; }
    void Cancel() => MudDialog.Cancel();
}
